# config file used to generate requirements.txt
#
# pip-compile requirements.in --output-file requirements.txt

flask
flask-unchained[api,admin,celery,mail,security,session,sqlalchemy]

appdirs
bcrypt
jinja2
jinja2-time
markdown
psycopg2
python-dateutil
python-frontmatter
pytz
tzlocal
uwsgi
