alembic==0.8.8
bcrypt==3.1.1
click==6.6
Flask==0.11.1
Flask-Bcrypt==0.7.1
Flask-Migrate==2.0.2
Flask-SQLAlchemy==2.1
pytest==3.0.2
six==1.10.0
SQLAlchemy==1.0.15
Werkzeug==0.11.11
Flask-JWT-Extended==0.0.9
Flask-Login==0.4.0
