# config file used to generate requirements.txt
#
# pip-compile requirements.in --output-file requirements.txt

flask
flask-admin-bundle
flask-api-bundle
flask-celery-bundle
flask-mail-bundle
flask-security-bundle
flask_session
flask-sqlalchemy-bundle
flask-unchained

appdirs
bcrypt
beautifulsoup4
celery
jinja2
jinja2-time
lxml
markdown
marshmallow-sqlalchemy
redis
psycopg2
python-dateutil
python-frontmatter
pytz
tzlocal
uwsgi
