import os
from datetime import timedelta

APP_DIR = os.path.abspath(os.path.dirname(__file__))
PROJECT_ROOT = os.path.abspath(os.path.join(APP_DIR, os.pardir))

TEMPLATE_FOLDER = os.path.join(PROJECT_ROOT, 'frontend')
STATIC_FOLDER = os.path.join(PROJECT_ROOT, 'static')
STATIC_URL_PATH = '/static'  # serve asset files in static/ at /static/

# bundle folders to register with the app
BUNDLES = {
    # backend.folder: url_prefix
    'backend.site': '/',
    'backend.auth': '/api/v1/auth',
    'backend.api': '/api/v1',
}


class BaseConfig(object):
    SECRET_KEY = os.environ.get('FLASK_SECRET_KEY', 'not-secret-key')  # FIXME
    SECURITY_PASSWORD_SALT = os.environ.get('FLASK_SECURITY_PASSWORD_SALT', 'not-secret-salt')  # FIXME
    SECURITY_TOKEN_MAX_AGE = 60 * 60  # 1 hour (in seconds)

    SQLALCHEMY_TRACK_MODIFICATIONS = False
    STRICT_SLASHES = False

    PERMANENT_SESSION_LIFETIME = timedelta(minutes=60)
    SESSION_PROTECTION = 'strong'
    SESSION_COOKIE_HTTPONLY = True
    SESSION_COOKIE_PATH = '/'
    SESSION_COOKIE_SECURE = False
    REMEMBER_COOKIE_HTTPONLY = True


class ProdConfig(BaseConfig):
    ENV = 'prod'
    DEBUG = False

    SESSION_COOKIE_SECURE = True  # only send cookies over https
    SESSION_COOKIE_DOMAIN = 'www.example.com'  # FIXME
    SESSION_TYPE = 'null'  # FIXME
    SQLALCHEMY_DATABASE_URI = 'postgresql://user:pw@localhost/db_name'  # FIXME


class DevConfig(BaseConfig):
    ENV = 'dev'
    DEBUG = True
    DB_NAME = 'dev.sqlite'
    SESSION_TYPE = 'filesystem'
    SESSION_FILE_DIR = 'flask_sessions'
    # SQLALCHEMY_ECHO = True
    SQLALCHEMY_DATABASE_URI = 'sqlite:///%s' % os.path.join(PROJECT_ROOT, DB_NAME)


class TestConfig(BaseConfig):
    TESTING = True
    DEBUG = True
    SQLALCHEMY_DATABASE_URI = 'sqlite://'  # :memory:
