/* Normalize */
@import "~normalize.css";

/* Skeleton base files */
@import "~skeleton-scss/scss/base/variables";
@import "~skeleton-scss/scss/base/functions";
@import "~skeleton-scss/scss/base/base-styles";
@import "~skeleton-scss/scss/base/utils";
@import "~skeleton-scss/scss/base/typography";

/* Skeleton modules */
@import "~skeleton-scss/scss/modules/grid";
@import "~skeleton-scss/scss/modules/buttons";
@import "~skeleton-scss/scss/modules/forms";
@import "~skeleton-scss/scss/modules/lists";
@import "~skeleton-scss/scss/modules/code";
@import "~skeleton-scss/scss/modules/tables";
@import "~skeleton-scss/scss/modules/spacing";
@import "~skeleton-scss/scss/modules/media-queries";
