body {
    padding-top: 0; /* override a silly style added by flask-admin */
}

h1 {
    margin-bottom: 30px;
}

/* improve navbar-top appearance */
.navbar-default {
    border-radius: 0;
}
.navbar-collapse.collapsing .nav.navbar-nav,
.navbar-collapse.collapse.in .nav.navbar-nav {
    margin: 0 -15px;
}

.admin-form .form-group label.control-label {
    white-space: nowrap;
}

/* improve formatting of checkbox in model forms */
.admin-form .form-group input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-top: 6px;
}

/* fix layout of Remember me? checkbox label on the login page */
form[name="login_user_form"] .checkbox label[for="remember"] {
    padding-left: 0;
}

table.dashboard td {
    width: 33%;
}
