# {{ ansible_managed }}

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    root {{ nginx_sites_dir }};

    location / {
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }
}
