---
- name: install IUS repo (centos)
  when: centos
  yum: name=https://centos{{ ansible_distribution_major_version }}.iuscommunity.org/ius-release.rpm

- name: install IUS repo (rhel)
  yum: name=https://rhel{{ ansible_distribution_major_version }}.iuscommunity.org/ius-release.rpm
  when: rhel

- name: import IUS GPG key
  when: redhat_family
  rpm_key: key=http://dl.iuscommunity.org/pub/ius/IUS-COMMUNITY-GPG-KEY state=present
