#!/bin/sh

# Activate the virtual environment.
cd {{ project_dir }}
. {{ project_virtualenv_dir }}/bin/activate

# Set additional environment variables.
. {{ project_virtualenv_dir }}/bin/postactivate

exec {{ celery }} worker -A wsgi.celery -l info
