# {{ ansible_managed }}

upstream flask {
  server unix:{{ uwsgi_socket_path }};
}

server {
  listen 80;
  listen [::]:80;
{% if app_env == 'prod' %}
  server_name {{ app_domain }} {{ full_app_domain }};
{% else %}
  server_name {{ app_domain }};
{% endif %}
  charset utf-8;

  access_log {{ nginx_access_log_file }};
  error_log {{ nginx_error_log_file }};

  root {{ nginx_sites_dir }};

  # allow letsencrypt challenges over http
  location /.well-known/ {
    try_files $uri $uri/ =404;
  }

  location /static/ {
    alias {{ FLASK_STATIC_FOLDER }}/;
  }

  location ~ ^/(api/|auth/|admin/?) {
    uwsgi_pass flask;
    include uwsgi_params;

    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  # always serve index.html for any other request
  location / {
    root {{ FLASK_STATIC_FOLDER }};
    try_files $uri /index.html;
  }
}
