[Unit]
Description=uWSGI instance serving {{ project_name }}
After=network.target

[Service]
Type=notify
ExecStart={{ virtualenv_dir }}/bin/uwsgi_start
RuntimeDirectory=uwsgi
Restart=always
RestartSec=5s
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
