#!/bin/sh

NAME="{{ project_name }}"
SOCKFILE="{{ uwsgi_socket_path }}"

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd {{ project_dir }}
. {{ project_virtualenv_dir }}/bin/activate

# Set additional environment variables.
. {{ project_virtualenv_dir }}/bin/postactivate

# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

exec {{ project_virtualenv_dir }}/bin/uwsgi \
  --ini {{ project_dir }}/uwsgi.ini
  --uid {{ nginx_user }}
  --gid {{ nginx_user }}
