@import 'variables';

.page-header-wrap {
    margin-top: $navbar-height;
    margin-bottom: -$navbar-height;

    @media (max-width: $bp-1) {
        margin-top: $navbar-height-bp-1;
        margin-bottom: -$navbar-height-bp-1;
    }
    @media (max-width: $bp-2) {
        margin-top: $navbar-height-bp-2;
        margin-bottom: -$navbar-height-bp-2;
    }
    @media (max-width: $bp-3) {
        margin-top: $navbar-height-bp-3;
        margin-bottom: -$navbar-height-bp-3;
    }
}

.page-header {
    font-weight: bold;
    padding-top: $l-margin;

    .transparent-bg-light {
        background-color: rgba(#fff, .35);
        padding: .5rem 1rem;
    }
    .transparent-bg-dark {
        background-color: rgba(#000, .35);
        padding: .5rem 1rem;
    }

    .title {
        font-size: $font-size-monster;
        @media (max-width: $bp-2) { font-size: $font-size-large; }
        @media (max-width: $bp-3) { font-size: $font-size-medium-large; }
        @media (max-width: $bp-4) { font-size: $font-size-medium; }
    }
    .subtitle {
        font-size: $font-size-medium;
        @media (max-width: $bp-4) { font-size: $font-size-medium-small; }
    }
}
